services:
  control:
    build:
      dockerfile: ./control_Dockerfile
    tty: true          # Allocate a pseudo-TTY
    stdin_open: true   # Keep STDIN open
    networks:
      - ansible_net
    
  managed1:
    build:
      dockerfile: ./managed_Dockerfile
    networks:
      - ansible_net
      
  managed2:
    build:
      dockerfile: ./managed_Dockerfile
    networks:
      - ansible_net

networks:
  ansible_net:
    driver: bridge