services:
  control:
    build:
      context: .
      dockerfile: ./control_Dockerfile
      args:
        - USERNAME=${USERNAME_CONTROL}
        - PASSWORD=${PASSWORD}
        - SSH_KEY=${SSH_KEY}
    tty: true          # Allocate a pseudo-TTY
    stdin_open: true   # Keep STDIN open
    networks:
      - ansible_net
    
  managed:
    build:
      context: .
      dockerfile: ./managed_Dockerfile
      args:
        - USERNAME=${USERNAME_MANAGED}
        - PASSWORD=${PASSWORD}
        - SSH_KEY=${SSH_KEY}
    networks:
      - ansible_net

networks:
  ansible_net:
    driver: bridge